absl-py==1.2.0
astunparse==1.6.3
cachetools==5.2.0
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
colorama==0.4.5
filelock==3.8.0
flatbuffers==22.9.24
gast==0.4.0
google-auth-oauthlib==0.4.6
google-auth==2.12.0
google-pasta==0.2.0
googletrans==3.1.0a0
grpcio==1.49.1
h11==0.9.0
h2==3.2.0
h5py==3.7.0
hpack==3.0.0
hstspreload==2022.10.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.10.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==5.0.0
Keras-Preprocessing==1.1.2
keras==2.10.0
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
numpy==1.21.6
oauthlib==3.2.1
opt-einsum==3.3.0
packaging==21.3
protobuf==3.19.6
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyffmpeg==2.3.0.3
pyparsing==3.0.9
pyTelegramBotAPI==4.7.0
PyYAML==6.0
regex==2022.9.13
requests-oauthlib==1.3.1
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
setuptools==57.0.0
six==1.16.0
sniffio==1.3.0
SpeechRecognition==3.8.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow==2.10.0
termcolor==2.0.1
tokenizers==0.12.1
tqdm==4.64.1
transformers==4.22.2
typing-extensions==4.4.0
urllib3==1.26.12
uuid==1.30
Werkzeug==2.2.2
wheel==0.36.2
wrapt==1.14.1
yadisk==1.2.16
zipp==3.9.0